/* белый #FFFFFF
веб студия черный #000000 
основной текст #212121
дополнительный текст #757575
акцент #2196F3
наша команда #F5F4FA
футер #2F303A
мыло и тлф #ffffff+60% прозрачности
*/
:root {
  --title-text-color #212121;
  --accent-color #2196F3;
}
body {
  background-color: #FFFFFF;
}

.team {background-color: #F5F4FA;}

footer {
  background-color: #2F303A;
ul {
  list-style: none;
}

ul{
  list-style-type: none;
}